<form action="/Image/Upload" method="post" enctype="multipart/form-data">
    <label>Escolha a sua imagem para upload</label>
    <br />
    <input type="file" name="image" />
    <br />
    <button type="submit" class="btn btn-danger">Enviar Imagem</button>
</form>

<img src="/images/27a1e808-1f50-4115-8f13-624e1f8f760c_abacaxi.jpg" />