@model FiltersViewModel
@{
    string imageName = Model.Image?.FileName;
}

<h1>@ViewData["Title"]</h1>

<h4>Program</h4>

@*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@

<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="row">
                <div class="col-md-4">
                    <div class="image-container">

                        @if (imageName == null)
                        {
                            <img src="/img/no-image.jpg" id="image" />
                        }
                        else
                        {
                            <img src="/images/@imageName" id="image" />
                        }
                    </div>

                    <div>
                        @*                        <button class="clean" id="btnPhoto">
                        Selecione uma imagem
                        </button>*@
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label"> Select City</label>
                        <select name="products" class="form-control" asp-items="@ViewBag.cities"></select>
                    </div>
                    <div class="col-md-12">
                        <div class="wrapper">
                            <a href="#">HOVER ME</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-container" id="imgContainer">
                        <img src="/Img/no-image.jpg" id="image" />
                    </div>
                    <div>
                        <button class="clean" style="">
                            Selecione uma imagem
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="col-md-12">
        <div class="ibox">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    @*<div class="col-md-6">
    <div class="ibox">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    </div>*@

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        var file = document.getElementById('#flImage');


        $(document).on('click', '#btnPhoto', function() {
            file.onclick();
        })
    </script>
}