@using ProjectWebMVC.Models.Enum
@model FiltersViewModel
@{
	string originImageName = Model.OriginImage?.FileName;
}

<h1>@ViewData["Title"]</h1>

<h4>Program</h4>

@*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@

<form method="post" enctype="multipart/form-data">
	@Html.Hidden("Image", Model.OriginImage)
	<div class="row">
		<div class="col-md-12">
			<div class="ibox">
				<div class="row">
					<div class="col-md-4">
						<div class="image-container">
							@if (originImageName == null)
							{
								<img src="/img/no-image.jpg" id="image" />
							}
							else
							{
								<img src="/images/@originImageName" id="image" />
							}
						</div>
						<div>
								<input style="width: 100%; box-shadow: rgb(0 0 0 / 50%) 0px 2px 1px !important; margin-bottom: 10px;" type="file" name="OriginImage" accept="image/*" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label"> Selecione o Filtro:</label>
							<select asp-for="Type" asp-items="Html.GetEnumSelectList<FilterType>()"></select>
						</div>
						<div class="col-md-12">
							<div class="wrapper">
								<input type="submit" name="filtrar" alt="Aplicar filtro" class="btn btn-success" value="Aplicar" multiple />
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="image-container">
							@if (@Model.FilteredImageName == null)
							{
								<img src="/img/no-image.jpg" id="image" />
							}
							else
							{
								<img src="/images/@Model.FilteredImageName" id="image" />
							}
						</div>
						<div>
							<button class="clean" style="">
								Selecione uma imagem
								@*<input type="file" name="arquivos" alt="Selecione uma imagem" class="btn btn-success" multiple />*@
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}