<div class="row">
    <div class="col-lg-12">
        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Any())
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Opaaaaaaa! Alguma coisa deu errado:</h4>
                @Html.ValidationSummary(true)
            </div>
        }

        @if (Convert.ToBoolean(ViewBag.Success))
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h3>@ViewBag.Success</h3>
            </div>
        }

        @if (Convert.ToBoolean(ViewBag.Warning))
        {
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h3>@ViewBag.Warning</h3>
            </div>
        }
    </div>
</div>